<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Acces</h1>
    <p th:if="${param.error}" style="color:red">Usuari o contrasenya incorrectes</p>
    <form action="/login" method="post">
        <p>Email: <input type="text" name="email"/></p>
        <p>Contrasenya: <input type="password" name="password"/></p>
        <button type="submit">Entrar</button>
    </form>
    <p><a href="/signup">Registrar-se</a></p>
</body>
</html>